footer{
    margin: 0;
    padding: 0;
    background-color: $color-terciario;
    text-align: center;
    width: 200px;
    a{
        margin: 5px,0px,5px,0px;
    }
    h2{
        font-family: 'Raleway', sans-serif;
        margin: 5px;
    }
    h5{
        font-family: 'Raleway', sans-serif; 
        margin: 5px;
    }
    
}
