.gridContenedor{
    display: flex;
}

@media screen and (max-width: 950px){
    .gridContenedor{
        display: flex;
        flex-direction: column;
    }

    footer{
        width: 100vh;
    }
    header nav .barraNavegacion{
        display: flex;
        flex-wrap: wrap; 
        justify-content: space-between; 
        align-items: center;
        padding: 0; 
        width: auto;
        }


}

@media screen and (max-width: 650px){
    .gridContenedor{
        display: flex;
        flex-direction: column;
    }
    header nav .barraNavegacion{
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    align-items: center; 
    height: 100vh;
    }
    .contacto{
        display: flex;
        flex-wrap: wrap; 
        justify-content: space-between;
        align-items: center; 
    }
    .formulario{
        display: flex;
        flex-direction: column;
        margin-left: 0%;
    }

    footer{
        width: 100vh;
    }
}

@media screen and (max-width: 550px) {
    header nav .barraNavegacion{
        height: 100%;
    }
}